body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#return {
  color: red;
}

#intro {
  text-decoration: none;
  color: red;
}

#darkblue {
  color: green;
}

.delete-form > button{
  color: red;
}

.returnskill {
  color:darkblue
}